# Telegram Config
TELEGRAM_VERGIL_BOT_TOKEN=''
TELEGRAM_CHAT_ID=''

# --- COMMANDS ---
# Syntax: 
#   CMD_commandName="shell command here"
#   MUTE_commandName="true" (Optional: Silences raw output on successful run. Useful if the script has its own internal Telegram alert)

CMD_backup="bash ~/scripts/backup.sh"
CMD_ping="ping -c 3 google.com"
CMD_deploy="/opt/ctrl/gitops-deploy.sh"

MUTE_deploy="true"
