# Telegram Config
VERGIL_BOT_TOKEN=''
ALLOWED_USER_ID=''

# --- COMMANDS ---
# Syntax: CMD_commandName="shell command here"

CMD_backup="bash ~/scripts/backup.sh"
CMD_ping="ping -c 3 google.com"
CMD_health="bash ~/scripts/health-snapshot.sh"
