# Telegram Config
VERGIL_BOT_TOKEN=''
ALLOWED_USER_ID=''

# --- COMMANDS ---
# Syntax: CMD_commandName="shell command here"


# Command: /copy
CMD_copy="cd /path/to/file && cp file /path/to/destination"
