# --- PYTHON GARBAGE ---
**/venv/
**/__pycache__/
**/*.pyc
**/.pytest_cache/

# Ignore sensitive env files
.env
**/.env
**/dockcheck.config
**/certs/

# --- LOGS & TEMP ---
**/*.log
**/*.tmp
**/*.bak
