# Base domain for all services
DOMAIN='wonder.lan'

# Where to copy CA/certs for device distribution
SHARE_DIR='/data/assets/syncthing/Shared'

# Nginx Proxy Manager API
NPM_URL='http://192.168.1.109:81'
NPM_EMAIL=''
NPM_PASS=''
NPM_CERT_NAME='homeserver'

# Pi-hole API
PIHOLE_URL='https://pihole.wonder.lan'
PIHOLE_PASS='' # use the API
SERVER_IP='192.168.1.109'
